	article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
	input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

	.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

	* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

	// setup
// typography 

$muli: 'Muli', sans-serif;
$lato: 'Lato', sans-serif;
$display: 'Playfair Display', serif;
$open: 'Open Sans', sans-serif;
$font: FontAwesome;
$light: 300;
$reg: 400;
$bold: 700;
$xbold: 900;

// colors
$violet: #A30DB8; 
$indigo: #2C209D;
$eggplant: #6D33D6;
$lavender: #DFC0EA;
$teal: #2CBACC;
$royal-blue: #2560EB;
$blue: #3CB6EE;
$lViolet: #F3EFFA;
$blue-black: #02001B;

$white: #ffffff;
$black: #000000;
$vulcan: #323232;
$grey: #525252;
$soft-grey: #8F8F8F;

// color hover

$violet-hover: #960CA3;

$eggplant-hover: #8149E5;
$black-hover: #616161;

// mqs 
$xsmall:"(min-width: 321px)";
$small-landscape:"(min-width: 400px)";
$small-m:"(min-width: 687px)";
$small:"(min-width: 768px)";
$medium: "(min-width: 1024px)";

// helpers
.hide {
	display: none;
}

.hide-medium-down {
	display: block;
	@media #{$medium} {
		display: none;
	}
}

.show-medium-up {
	display: none;
	@media #{$medium} {
		display: block;
	}
}


.hide-small-down {
	display: block;
	@media #{$small} {
		display: none;
	}
}

.show-small-up {
	display: none;
	@media #{$small} {
		display: block;
	}
}


.violet {
	color: $violet;
}

.violet-hover {
	color: $violet-hover;
}

.indigo {
	color: $indigo;
}

.eggplant {
	color: $eggplant;
}

.teal {
	color: $teal;
}

.blue {
	color: $blue;
}

.royal-blue {
	color: $royal-blue;
}

.white {
	color: $white;
}

.black {
	color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0
}

h1 {
	font-size: 64px;
}

.section-header {
	font-size: 50px;
	color: $vulcan;
	text-transform: capitalize;
	letter-spacing: 3.5px;
	@extend .display;
	margin-bottom: 10px;

	&.white {
		color: $white;
	}
}

h3 {
	font-size: 20px;
	font-weight: $light;
	letter-spacing: 1.4px;
	color: $soft-grey;
}

h4 {
	font-style: 16px;
}

.display {
	font-family: $display;
	font-weight: $bold;
	font-style: italic;
}

.italic {
	font-style: italic;
}

.light {
	font-weight: $light;
}

.lItalic {
	font-style: italic;
	font-weight: $light;
}

.text-center{
	display: block;
	text-align: center;
}

.text-right {
	display: block;
	text-align: right;
}

.upcase {
	text-transform: uppercase;
}
.small-copy {
	font-size: 12px;
	font-style: italic;
}

.italic-small {
	font-size: 14px;
	font-style: italic;

}

.subheader {
	font-family: $muli;
	font-weight: $reg;
	letter-spacing: 1.64px;
	font-size: 23px;
}

.eyebrow {
	font-family: $open;
	font-size: 14px;
	letter-spacing: 2.43px;
	text-transform: uppercase;
	font-weight: $xbold;
}

// layout 

.half {
	width: 100%;

	@media #{$medium} {
		width: 50%;
		float: left;
	}
}

.third {
	width: 33.33%;
	float: left;
}

.fifth {
	width: 20%;
	float: left;
}

.ul-white {
	border-bottom: 1px solid $white;
	display: inline-block;
}

// UI elements

// link

	// ANIMATION
	$timing: 2s;
	$style: linear;

	@mixin transition($args) {
	  transition: $args;
	  -webkit-transition: $args;
	  -moz-transition: $args;
	  -ms-transition: $args;
	  -o-transition: $args;
	}

a {
	@include transition(all 0.3s ease-in-out);
	text-decoration: none;
	color: $violet;

	&:hover,
	&:active {
		color: lighten($violet, 25%);
	}
}

a.text-link {
	span {
		border-bottom: 1px solid $violet;
		@include transition(all 0.3s ease-in-out);
	}
	&:after{
		content: " ";
		background: url(../i/arrow.png);
		position: relative;
		left: 0;
		height: 11px;
		width: 11px;
		display: inline-block;
		@include transition(all 0.3s ease-in-out);
	}

	&:hover,
	&:active {
		span {	
			color: $violet;
		}

		&:after {
			content: " ";
			left: 5px;
		}
	}
}

a.small-link {
	color: $black;
	font-size: 12px;
	border-bottom: 1px solid $black;
	line-height: 2;

	&:hover,
	&:active {
		color: $black-hover;
		border-bottom: 1px solid $black-hover;
	}
}

// buttons

.btn {
	border-radius: 30px;
	border: 1px solid $eggplant;
	background: $eggplant;
	min-width: 175px;
	@include transition(all 0.3s ease-in-out);

	> a {
		 color: $white;
		 font-size: 12px;
		 float: none;
		 font-weight: $light;
		 font-style: italic;
		 display: block;
		 padding: 2px 25px;
		 text-align: center;
		 font-size: 14px;
		 font-weight: 300;
		 @include transition(all 0.3s ease-in-out);
	}


	&:hover,
	&:active {
		background: $eggplant-hover;
		border: 1px solid $eggplant-hover;


		a {
			color: $white;
		}
	}
}


.btn--secondary {
	border: 1px solid rgba(255, 255, 255, 0.4);
	background: 1px solid rgba(255, 255, 255, 0.0);

	&:hover,
	&:active {
		border: 1px solid rgba(255, 255, 255, 0.2);
		background: rgba(255, 255, 255, 0.2);
	}

}

img {
	max-width: 100%;
}


// flair 


.header-line-blue {
	&:after {
		content: " ";
		width: 76px;
		height: 3px;
		background: $blue;
		display: block;

	}
}


.header-line-royal {
	&:after {
		content: " ";
		width: 76px;
		height: 3px;
		background: $royal-blue;
		display: block;

	}
}

.header-line-eggplant {
	&:after {
		content: " ";
		width: 76px;
		height: 3px;
		background: $eggplant;
		display: block;

	}
}

.icon-header {
	position: relative;
	&:before {
		content: "";
	    background: url(../i/snowflakes-m-180.svg) no-repeat;
	    width: 117px;
        height: 181px;
		position: absolute;
		left: -50px;
		top: -20px;
        opacity: .6;
        display: block;
	}
}

body,
html {
	max-width: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-family: $muli;
	color: $grey;
	overflow-x: hidden;

	&.no-scroll {
		overflow: hidden;
	}

	section {
		padding: 60px 20px;
		clear: both;

		@media #{$small} {
			padding: 100px 20px;
		}
	}

	.outer-wrapper {
		overflow-x: hidden;
	}

	.inner-wrapper {
		max-width: 905px;
		width: 80%;
		margin: 0 auto;

		@media #{$small} {
			width: 70%;
		}
	}

	.inner-wrapper-wide {
		max-width: 1065px;
		width: 90%;
		margin: 0 auto;
	}

	.hero {
		background: $blue;
		background: radial-gradient(at 35%,#3CB6EE,#0056b7);
		background: radial-gradient(at 35%,#3CB6EE,#0056b7);
		padding: 134px 20px 80px 30px;

		@media #{$small-landscape} {
			padding: 164px 20px 80px 20px;
		}

		.inner-wrapper-wide {
			max-width: 530px;
			margin: 0 auto;
		}

		.title {
			> h1 {
				font-size: 43px;
				position: relative;
				letter-spacing: 3.5px;

				@media #{$small-landscape} {
					font-size: 47px;
				}
			}

			h2.workshop {
				font-size: 25px;
				margin-bottom: 10px;
				position: relative;
				opacity: 0.7;

				@media #{$small-landscape} {
					font-size: 37px;
					opacity: 1;
				}

				&:after {
					content: "";
			    	background: url(../i/snowflakes-large-white-180.svg) no-repeat;
			    	width: 120px;
		        	height: 160px;
					position: absolute;
		        	right: 0;
		        	top: -100px;
		        	display: block;

				}
			}

			h3 {
				font-size: 24px;
				opacity: 0.7;
				font-weight: $reg;
				margin-bottom: 20px;

				@media #{$small-landscape} {
					font-size: 30px;
				}
			}
		}

		.sub-title {
				position: relative;
				
			h3 {
				font-size: 13px;
				z-index: 5;
				font-weight: $light;
				margin-bottom: 5px;
				font-style: italic;
			}

			&:before {
				content: "";
		    	background: url(../i/snowflakes-white-s.svg) no-repeat;
		    	width: 50px;
	        	height: 80px;
				position: absolute;
	        	left: -12%;
	        	top: -30px;
	        	display: block;
			}
		}

		.event-info {
			position: relative;

			&:before {
				content: "";
		    	background: url(../i/snowflakes-large-white.svg) no-repeat;
		    	width: 107px;
	        	height: 159px;
				position: absolute;
	        	left: -80px;
	        	top: -90px;
	        	display: block;

			}

		
			h3 {
				font-weight: $xbold;
				font-size: 14px;
				font-family: $open;
				position: relative;
				margin-bottom: 5px;

				&:after {
					content: "";
			    	background: url(../i/snowflakes-white-s-180.svg) no-repeat;
			    	width: 107px;
		        	height: 96px;
					position: absolute;
		        	display: block;
		        	right: 0;
		        	top: -30px;


		        	@media #{$xsmall} {
		        		right: 21%;
		        	}
				}

				&:before {
					content:"\f017";
					font-family: $font;
					padding-right: 5px;
				}
			}

			h4 {
				z-index: 5;
				position: relative;
				opacity: 0.7;

				@media #{$small-landscape} {
					padding-left: 19px;
				}

				span {
					font-size: 11px;
					font-style: italic;
				}
			}

			h5 {
				font-size: 11px;
				letter-spacing: 1.9px;
				margin-bottom: 30px;
				opacity: 0.7;
				padding-top: 2px;

				@media #{$small-landscape} {
				 	padding-left: 19px;
				 }
			}

			.btn {
				display: block;
				width: 100%;
				max-width: 100%;
				margin-right: 13px;
				margin-bottom: 20px;
				padding: 5px 25px;

				@media #{$small-landscape} {
					display: inline-block;
					max-width: 180px;
					padding: 5px;
				}
			}

			.btn.btn--secondary {
				margin-left: 0;
			}
		}
	}
}



// Partials 
// -----------------------
@import "partials/navigation";
@import "partials/about";
@import "partials/event";
@import "partials/speakers";
@import "partials/sponsors";
@import "partials/location";
@import "partials/newsletter";
@import "partials/footer";