// typography 

$muli: 'muli', helvetica, arial, sans-serif;

// colors
$violet: #A30DB8; 
$indigo: #2C209D;
$teal: #2CBACC;


$white: #ffffff;
$black: #000000;
$vulcan: #17161B;
$grey: #6B6B6B;

.italic {
	font-family: italic
}



// 

body {
	font-family: $muli;
}