// about: homepage start

section.about {
	min-height: 400px;
	.header {
		width: 100%;
		float: left;
	}

	.copy-section {
		width: 100%;
		float: left;
		position: relative;
		margin-top: 30px;

		@media #{$small} {
			width: 70%;
			margin-top: 0;
		}

		.inner-wrapper-copy {
			z-index: 100;
			left: 0;
		}
	}
}