.event {
	background: url(../i/hp-about-bkg.png);
	background-repeat: no-repeat; 
	background-size: cover; 
	padding: 100px 0 0 0;

	.event-intro-copy {
		margin-bottom: 120px;
	}

	.header {
		margin-bottom: 80px;
	}

	.teaser {
		width: 40%;
		float: left;

		.subheader {
			margin: 0;
		}
	}

	.copy {
		width: 60%;
		float: left;
		padding-left: 50px;

		p {
			margin: 0;
		}
	}
}

.event-overview-bar {
	clear: both;
	background: rgba(37,96,235,1);
background: -moz-linear-gradient(left, rgba(37,96,235,1) 0%, rgba(63,191,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(37,96,235,1)), color-stop(100%, rgba(63,191,255,1)));
background: -webkit-linear-gradient(left, rgba(37,96,235,1) 0%, rgba(63,191,255,1) 100%);
background: -o-linear-gradient(left, rgba(37,96,235,1) 0%, rgba(63,191,255,1) 100%);
background: -ms-linear-gradient(left, rgba(37,96,235,1) 0%, rgba(63,191,255,1) 100%);
background: linear-gradient(to right, rgba(37,96,235,1) 0%, rgba(63,191,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2560eb', endColorstr='#3fbfff', GradientType=1 );

	.inner {
		max-width: 925px;
		margin: 0 auto;
		padding: 40px 20px;

		.col {
			float: left;
			.small-copy {
				color: $white;
			}
		}

		.col-1 {
			width: 12.55%;
			padding-right: 40px;

			h3 {
				margin-bottom: 80px;
			}

			h4,
			p {
				text-align: right;
			}

			.small-copy {
				font-size: 22px;
				> span {
					font-size: 11px;
					font-weight: $light;
					letter-spacing: .9px;
					display: block;
				}
			}
		}

		.col-2 {
			border-left: 2px solid rgba(255, 255, 255, 0.5);
		}

		.col-2,
		.col-3,
		.col-4 {
			width: 29.15%;
			padding: 0 5.7%;
			text-align: center;
		}
	}
}

.event-overview-details {
	padding: 120px 20px 0 20px;
	
	.inner-wrapper {
		max-width: 840px;
		margin: 0 auto;
	}

	.event-overview-detail {
		width: 65%;
		float: left;
		margin-bottom: 90px;
		position: relative;

			&:before {
				content: "01";
				z-index: -1;
				position: absolute;
				left: 0;
				top: -128px;
				@extend .display;
				font-size: 137px;
				opacity: 0.05;
				letter-spacing: 9.78px;
			}

		h3 {
			margin-bottom: 40px;

			&:before {
				content:"\f0d6";
				font-family: $font;
				padding-right: 5px;
			}

			&.header-line-blue,
			&.header-line-eggplant,
			&.header-line-royal {
				&:after {
					position: relative;
					top: 17px;
				}
			}

			&.header-line-royal {
				&:after {
					position: absolute;
					right: 0;
					top: 59px;	
				}
			}
		}

		h4 {
			margin-bottom: 10px;
		}

		p {
			margin: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
		
		&.event-overview-detail02 {
			float: right;

			&:before {
				content: "02";
				right: -18px;
			}

			h3 {
				&:before {
					content:"\f05d";
					font-family: $font;
					padding-right: 0;
				}
			}

			h3,
			h4,
			p {
				text-align: right;
			}
		}

		&.event-overview-detail03 {
			&:before {
				content: "03";
			}

			h3 {
				&:before {
					content:"\f209";
					font-family: $font;
				}
			}
		}

		.subheader {
			font-size: 20px;
			color: $vulcan;
		}
	}
}