section.footer {
	background: $blue-black; 
	padding: 0;

	.inner-wrapper-wide {
		padding: 50px 50px 0 50px;
	}

	.half {
		p {
			max-width: 288px;

			span.underline {
				border-bottom: 1px solid $white;
			}
		}

		.email {
			&:hover,
			&:active {
				 color: $white;
				 opacity: 0.5;
			}

			&:before {
				content: ' ';
				background: url('../i/email.png');
				display: inline-block;
				width: 17px;
				height: 17px;
				background-repeat: no-repeat;
				position: relative;
				top: 7px;
				padding-left: 10px; 
				@include transition(all 0.3s ease-in-out);
				opacity: 1;
			}
		}
	}

	.footer-copyright {
		padding: 25px 0;
	}
}