section.footer {
	background: $blue-black; 
	padding: 0;

	> .inner-wrapper-wide {
		padding: 50px 20px 0 20px;
		position: relative;

		@media #{$medium} {
			padding: 50px 0;	
		}
	}

	.half {
		p {
			max-width: 288px;

			span.underline {
				border-bottom: 1px solid $white;
			}
		}

		.email {
			&:hover,
			&:active {
				 color: $white;
				 opacity: 0.5;
			}

			&:before {
				content: ' ';
				background: url('../i/email.png');
				display: inline-block;
				width: 17px;
				height: 17px;
				background-repeat: no-repeat;
				position: relative;
				top: 7px;
				padding-left: 10px; 
				@include transition(all 0.3s ease-in-out);
				opacity: 1;
			}
		}

		&.social {

			h2.hashtag {
				display: inline;
				float: right;
				font-size: 18px;
				padding-left: 20px;
				position: relative;
				top: -2px;
			}

			.inner-wrapper {
				width: 100%;
				margin-top: 50px;
				position: relative;
			}

			.social-link {
				font-size: 0;
				float: right;

				&:after {
					content:"";
					font-family: $font;
					font-size: 20px;
					color: $white;
					@include transition(all 0.3s ease-in-out);
				}


				&.twitter {

					&:after {
						content:"\f099";
					}
				}

				&.instagram {
					margin-right:  30px;
					&:after {
						content:"\f16d";
					}
				}

				&:hover,
				&:active {
					&:after {
						color: $grey;
					}
				}
			}
		}
	}

	.footer-copyright {
		padding: 25px 0;
	}
}