section.location {
	padding: 40px 0 0 0;

	@media #{$small} {
		padding: 50px 0 0 0;
	}

	.header {
		width: 100%;
		position: relative;

		@media #{$small} {
			width: 40%;
			float: left;
		}
	}

	.address-container {
		width: 100%;
		margin-top: 37px;

		@media #{$small} {
			width: 60%;
			float: left;
		}


		h3 {
			padding-bottom: 5px;
			font-size: 20px;
			text-align: left;

			@media #{$small} {
				text-align: right;
			}

			&:before {
				content:"\f041";
				font-family: $font;
				display: inline-block;
				font-size: 13px;
				padding-left: 10px;
				position: relative;
				top: -3px;
				left: -10px;
			}
		}

		p {
			color: $soft-grey;
			text-align: left;
			margin: 0;

			@media #{$small} {
				text-align: right;
			}
		}

		a {
			margin-top: 10px;
		}
	}


	.map-box-container {
		clear: both;
		margin-top: 50px;

		@media #{$small} {
			margin-top: 100px;
		}
	}

	.map-img {
		position: relative;
		img {
			width: 100%;
			height: auto;
		}
	}
}
