section.sponsors {
	padding: 0;
	width: 100%;
	min-height: 150px;
	position: relative;

	.outer-wrapper {
		overflow: visible;
	}

	.sponsors-preheading {
		.inner-wrapper-wide {
			position: relative;		
		}
	}

	.sponsors-list-container {
			background: rgba(80,0,232,1);
		background: -moz-linear-gradient(left, rgba(80,0,232,1) 0%, rgba(170,14,180,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(80,0,232,1)), color-stop(100%, rgba(170,14,180,1)));
		background: -webkit-linear-gradient(left, rgba(80,0,232,1) 0%, rgba(170,14,180,1) 100%);
		background: -o-linear-gradient(left, rgba(80,0,232,1) 0%, rgba(170,14,180,1) 100%);
		background: -ms-linear-gradient(left, rgba(80,0,232,1) 0%, rgba(170,14,180,1) 100%);
		background: linear-gradient(to right, rgba(80,0,232,1) 0%, rgba(170,14,180,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5000e8', endColorstr='#aa0eb4', GradientType=1 );

		.inner-wrapper {
			width: 100%;

			@media #{$medium} {
				width: 80%;
			}
		}

		.section-header {
			margin-top: 10px;
			padding-top: 10px;
			text-transform: capitalize;
		}

		.sponsors-list-container-inner {

			.inner-wrapper {
				text-align: center;
				max-width: 100%;
				width: 100%;
				padding-bottom: 35px;

				@media #{$small} {
					padding-bottom: 30px;
					max-width: 100%;
					width: 100%;
				}

				.sixth {
					width: 33.33%;
					float: left;

					@media #{$small} {
						width: 16.66%;
					}
				}

				.mobile-wrapper {
					width: 69%;
					margin: 0 auto;

					@media #{$small} {
						width: auto;
					}

					.sponsor.fifth {
						width: 50%;

						@media #{$small} {
							width: 20%;
						}
					}
				}

				.sponsor {
					opacity: 0.5;
					@include transition(all 0.3s ease-in-out);

					img {
						width: 80%;

						@media #{$small} {
							width: 80%;

							&:first-child {
								margin-bottom: 0;
							}
						}
					}

					&.sponsor01 {
						padding-top: 16px;

						@media #{$small} {
							padding-top: 20px;
						}
					}

					&.sponsor05 {
						padding-top: 13px;

						@media #{$small} {
							padding-top: 20px;
						}
					}


					&.sponsor04 {
						img {
							max-width: 39%;

						}
					}

					&.sponsor06 {
						margin-top: 10px;
					}

					&:hover,
					&:active {
						opacity: 1;
					}
				}
			}
		}
	}
}
